{% extends "library_template.html" %}

{% block content %}
<div class="row-fluid">
    <div class="col-lg-12 col-md-15 " style="padding-top: 10px">
        <div class="card" style="width: 25rem;">
            <div class="card-body">

                <div class="card-header">How to reach us</div>
                <h6 class="card-subtitle mb-2 text-muted" style="padding-top: 10px">Our Address</h6>
                <div class="container">
                    <div class="row" style="padding-left: 15px">5722 Standing Rock Drive</div>
                    <div class="row" style="padding-left: 15px"> Austin TX - 78730</div>
                    <div class="row" style="padding-left: 15px"><img class="img-responsive2"
                                        src="../static/img/phone.png" width="5%" height="5%"> Phone: 512-203-4818</div>
                     <div class="row" style="padding-left: 3px"><img class="img-responsive2"
                                        src="../static/img/email.png" width="10%" height="10%">Email: christinesampson09@gmail.com </div>
                </div>
            </div>




            <div class="card-body">
                <div class="card-header">Library hours</div>
                <div class="container">
                    <div class="row" style="padding-left: 15px"> Mon 9:00 a.m - 10:30 p.m</div>
                    <div class="row" style="padding-left: 15px"> Tue 9:00 a.m - 10:30 p.m</div>
                    <div class="row" style="padding-left: 15px"> Wed 9:00 a.m - 10:30 p.m</div>
                    <div class="row" style="padding-left: 15px"> Thu 9:00 a.m - 10:30 p.m</div>
                </div>
            </div>
        </div>
        <!---->
    </div>
</div>

{% endblock content %}