<html>
<b>Home Page</b>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
         <th>Last Name</th>
         <th>dob</th>
         <th>addrid</th>
        <th>email</th>
         <th>phone</th>
    </tr>
    </thead>
    <tbody>
        {% for row in value %}
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                 <td>{{row[2]}}</td>
                 <td>{{row[3]}}</td>
                 <td>{{row[4]}}</td>
                 <td>{{row[5]}}</td>
                 <td>{{row[6]}}</td>
                 <td>{{row[7]}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</html>