<html>
<head>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
   <div class="jumbotron">
        <h1>Library List App</h1>
        <form class="form-signin">
              {% for row in value %}
      <table>
          <tr>
       <label for="customerFname" class="sr-only">Name</label>

        <input type="name" name="customerFname" id="customerFname" class="form-control" placeholder="Name" required autofocus value={{row[0]}}>
        <label for="customerLname" class="sr-only">Name</label>
        <input type="name" name="customerLname" id="customerLname" class="form-control" placeholder="Name" required autofocus value={{row[1]}}>

        <label for="custEmail" class="sr-only">Email address</label>
        <input type="email" name="custEmail" id="custEmail" class="form-control" placeholder="Email address" required autofocus value={{row[2]}}>
          </tr>
</table>
 {% endfor %}
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Sign up</button>
      </form>
      </div>
</html>