{% extends "wgshomepage1.html" %}

{% block content %}
<div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
    <form method="POST" action="">
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <input name="username" class="form-control" placeholder="username" type="text">
        </div>


        <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
            <input class="form-control" name="password"  placeholder="password" type="password">
        </div>

          <div class="form-group">
        <button type="submit" class="btn btn-success btn-block"> Login  </button>
    </div> <!-- form-group// -->
    <p class="text-center">Forgot password? <a href="/reset">Reset password</a> </p>

    </form>
    </article>
</div>

{% endblock content %}