{% extends "wgshomepage1.html" %}

{% block content %}
<div class="card ">
    <article class="card-body mx-auto" style="max-width: 400px;">
    <form>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <input name="" class="form-control" placeholder="First name" type="text" required>
            <input name="" class="form-control" placeholder="Last name" type="text">
        </div>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">  <i class="fa fa-calendar" aria-hidden="true"></i> </span>
            </div>
            <input class="form-control" id="date" name="date" placeholder="Date Of Birth (MM/DD/YYY)" type="date"/>
              <div class="input-group-append">
                 <span class="input-group-text" id="basic-addon1">DOB</span>
            </div>
        </div>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-envelope" aria-hidden="true"></i> </span>
            </div>
            <input class="form-control" id="email" name="email" placeholder="Email" type="text"/>
             <div class="input-group-append">
                 <span class="input-group-text" id="basic-addon2">@example.com</span>
            </div>
        </div>
         <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-address-book-o" aria-hidden="true"></i> </span>
            </div>
            <input name="" class="form-control" placeholder="Address1" type="text">
            <input name="" class="form-control" placeholder="Address2" type="text">
        </div>
        <div class="form-group input-group">
             <span class="input-group-text"> <i class="fa fa-building"></i> </span>

            <input name="" class="form-control" placeholder="city" type="text">
            <input name="" class="form-control" placeholder="state" type="text" value = "TX" disabled="true">
        </div>

        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-phone" aria-hidden="true"></i> </span>
            </div>
            	<select class="custom-select" style="max-width: 120px;">
		    <option selected="">+512</option>
		    <option value="1">+210</option>
		    <option value="2">+214</option>
		    <option value="3">+432</option>
            <option value="4">+325</option>
		</select>
            <input class="form-control" id="phone" name="phone" placeholder="phone" type="text"/>
        </div>

        <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
            <input class="form-control" placeholder="password" type="password">

    </div>
         <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>

        <input class="form-control" placeholder="Repeat password" type="password">
    </div>
          <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
    </div> <!-- form-group// -->
    <p class="text-center">Have an account? <a href="">Log In</a> </p>

    </form>
    </article>
</div>

{% endblock content %}