{% extends "wgshomepage1.html" %}

{% block content %}
<div class="card ">
    <article class="card-body mx-auto" style="max-width: 400px;">
    <form>

             <div class="form-group">
                                <div class="col-lg-20">Author name:</div>
                                <div class="col-lg-20">
                                    <input type="text" class="form-control" name="author" value="" />
                                </div>
             </div>
            <div class="form-group">
                                <div class="col-lg-20">Book name:</div>
                                <div class="col-lg-20">
                                    <input type="text" class="form-control" name="book" value="" />
                                </div>
             </div>

             <div class="form-group">
                                <div class="col-lg-20">Media name:</div>
                                <div class="col-lg-20">
                                    <input type="text" class="form-control" name="book" value="" />
                                </div>
             </div>

          <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> Search  </button>
    </div> <!-- form-group// -->

    </form>
    </article>
</div>

{% endblock content %}