{% extends "wgshomepage1.html" %}

{% block content %}
</br></br>
<table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col">Day</th>
      <th scope="col">Friday, September 27, 2019</th>
      <th scope="col">Saturday, September 28, 2019</th>
      <th scope="col">Sunday, September 29, 2019</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>2:00 PM Books and Babies Old Quarry Branch</td>
      <td> 9:30 AMMental Health Summit at Kealing MS Saturday, September 28, 2019</td>
      <td>11:00 AM Sew Much Fun Saturday, September 28, 2019 Ruiz Branch</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>3:00 PM Science Friday St. John Branch</td>
      <td>10:00 AM Mujeres Emprendedoras Saturday, September 28, 2019 Little Walnut Creek Branch</td>
      <td>12:00 PM Fix It Clinic: Manchaca Branch Learn how to fix your stuff!Saturday, September 28, 2019
</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td >3:30 PM Tween and Teen Anime Club Twin Oaks Branch</td>
      <td>10:00 AM Hablemos Inglés Saturday, September 28, 2019 Howson Branch</td>
      <td>12:00 PM Turning Teens into Game Developers Saturday, September 28, 2019 </td>
    </tr>
  </tbody>
</table>

{% endblock content %}