{% extends "library_template.html" %}

{% block content %}
<div class="card ">
    <article class="card-body mx-auto" style="max-width: 400px;">
        <form method="POST" action=''>
            {{form.csrf_token}}

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-book"></i> </span>
                </div>
                <input name="isbn"pattern="[0-9]{3}-[0-9]{10}" type="text" id="ISBN"  maxlength="14" placeholder="ISBN Ex. 123-1234567890" required>
            </div>

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-book"></i> </span>
                </div>
                <input name="title" class="form-control" placeholder="Book Title" type="text" required>
            </div>

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <input name="authorfirstname" class="form-control" placeholder="Author First Name" type="text" required>
                <input name="authorlastname" class="form-control" placeholder="Author Last Name" type="text">
            </div>

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-calendar"></i> </span>
                </div>
                <input name="pubyear" class="form-control" placeholder="Publishing Year" type="text" size="4" required>
            </div>

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-book"></i> </span>
                </div>
                <input name="noofcopies" type="text" id="noofcopies" placeholder=" Number of Copies" required>
            </div>

            <div class="form-group input-group">
                <span class="input-group-text"> <i class="fa fa-book"></i> </span>
                <input name="currency" class="form-control" style="max-width: 90px;" type="text" value="USD$"  readonly = "true">
                <input name="price" class="form-control" placeholder="Price" type="text" required>
            </div>

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-book" aria-hidden="true"></i> </span>
                    <input name="mediaid" class="form-control" placeholder="Media ID" type="text" required>
                </div>
                </select>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> Add Book</button>
            </div> <!-- form-group// -->

        </form>
    </article>
</div>

{% endblock content %}