{% extends "library_template.html" %}

{% block content %}
<div class="card ">
    <article class="card-body mx-auto" style="max-width: 400px;">
        <form method="POST" action="">

            <div class="form-group">
                <div class="col-lg-20">Author name:</div>

                <div class="col-lg-20">
                    <input type="text" class="form-control" name="authorSearch" value=""/>

                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-20">Book name:</div>
                <div class="col-lg-20">
                    <input type="text" class="form-control" name="bookSearch" value=""/>

                </div>
            </div>


            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> Search</button>

            </div> <!-- form-group// -->
            <div>

                <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0"
                       width="100%">
                    <thead>
                    <tr>
                        <th class="th-sm">Title
                        </th>
                        <th class="th-sm">Author
                        </th>
                        <th class="th-sm">No. of copies
                        </th>

                    </tr>
                    </thead>
                    <tbody>
                    {% if searchresult %}
                    {%for i in range(0, len)%}
                    <tr>
                        <td>{{searchresult[i].title}}</td>
                        <td>{{searchresult[i].authorfirstname+" "+searchresult[i].authorlastname}}</td>
                        <td>{{searchresult[i].noofcopies}}</td>

                    </tr>

                    {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </form>
    </article>
</div>


{% endblock content %}