<!DOCTYPE html>
<html lang="en">
<head>
    <style>
   .nav-link {
    color: black;
    font-size: 1.4em !important;
}

.cover-container {
    height: 180px;
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}
.cover-item {
    position: relative;
    display: inline-block;
    margin: 8px 8px;
    box-shadow: 2px 2px 4px #bbb;
    border-top-right-radius: 4px;
    width: 116px;
    height: 158px;
    vertical-align: bottom;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}



    </style>

    <title>Milwood Library</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
<script type=text/javascript src="{{
  url_for('static', filename='jquery-3.3.1.slim.min.js') }}"></script>
<script type=text/javascript src="{{
  url_for('static', filename='js/bootstrap.min.js') }}"></script>
<div class="nav-link" style="background-color: grey">
    <h1 align="center">Austin Public Library</h1>
</div>


<nav class="navbar navbar-expand-md" style="background-color: coral">

    <a class="navbar-brand" href="#" style="padding-right: 250px"><img class="img-responsive2"
                                                                       src="../static/img/library.jpg" width="60%"
                                                                       height="60%"></a>
    <button class="navbar-toggler navbar-dark " type="button" data-toggle="collapse" data-target="#main-navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container" align="right">
        <div class="collapse navbar-collapse" id="main-navigation">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href=/home><img class="img-responsive2"
                                                        src="../static/img/home.png" width="30" height="30"
                                                        alt="Home Page"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/search">search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">checkout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">return</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/addbook">add book</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/askmom">ask mom</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<main role="main" class="container">
    <div class="navbar-brand" style = "color:blue;">
    {{value}}</ul>
    </div>
    <div class="row">
        <div class="col-md-8">
            {% block content %}{% endblock %}
        </div>
        <div class="col-md-3">
            <div class="content-section" style="padding-top:10px">
                <h3>Library Events</h3>
                <p class='text-muted'>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light"><a href="/recentnews">Recent News</a></li>
                    <li class="list-group-item list-group-item-light"><a href="/upcoming">Upcoming Events</a></li>
                    <li class="list-group-item list-group-item-light"><a href="/calendar">Calendars</a></li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</main>

</body>
