{% extends "template.html" %}

{% block content %}
<div class="row-fluid">
    <div class="col-lg-12 col-md-15 " style="padding-top: 10px">
        <div class="card" style="width: 18rem;">
            <div class="card-body">

                <div class="card-header">How to reach us</div>
                <h6 class="card-subtitle mb-2 text-muted" style="padding-top: 10px">Our Address</h6>
                <div class="container">
                    <div class="row" style="padding-left: 15px">8907 West Parmer Lane</div>
                    <div class="row" style="padding-left: 15px"> Austin TX - 76543</div>
                    <div class="row" style="padding-left: 15px"><img class="img-responsive2"
                                                                     src="../static/img/phone.png" width="10%"
                                                                     height="10%"> Phone: 512-678-9087
                    </div>
                    <div class="row" style="padding-left: 5px"><img class="img-responsive2"
                                                                    src="../static/img/email.png" width="18%"
                                                                    height="20%">admin@milwood.tx.gov
                    </div>
                </div>
            </div>


            <div class="card-body">
                <div class="card-header">Library hours</div>
                <div class="container">
                    <div class="row" style="padding-left: 15px"> Mon 9:00 a.m - 10:30 p.m</div>
                    <div class="row" style="padding-left: 15px"> Tue 9:00 a.m - 10:30 p.m</div>
                    <div class="row" style="padding-left: 15px"> Wed 9:00 a.m - 10:30 p.m</div>
                    <div class="row" style="padding-left: 15px"> Thu 9:00 a.m - 10:30 p.m</div>
                </div>
            </div>
        </div>
        <!---->
    </div>
</div>

{% endblock content %}