{% extends "template.html" %}
{% block content %}

<div class="row-fluid">
    <div class="col-lg-12 col-md-15 " style="padding-top: 10px">
        <h3 class="feature-title">New books arrival</h3>
        <div class="cover-container">
            <!-- START PANEL -->
            <div class="cover-item" style="background-image: url('../static/img/book1.jpg')"></div>
            <div class="cover-item" style="background-image: url('../static/img/book2.jpg')"></div>
            <div class="cover-item" style="background-image: url('../static/img/book3.jpg')"></div>
            <div class="cover-item" style="background-image: url('../static/img/book4.jpg')"></div>
            <div class="cover-item" style="background-image: url('../static/img/book5.jpg')"></div>
            <div class="cover-item" style="background-image: url('../static/img/book6.jpg')"></div>
            <div class="cover-item" style="background-image: url('../static/img/book7.jpg')"></div>
            <div class="cover-item" style="background-image: url('../static/img/book8.jpg')"></div>
            <div class="cover-item" style="background-image: url('../static/img/book9.jpg')"></div>
            <div class="cover-item" style="background-image: url('../static/img/book10.jpg')"></div>
            <div class="cover-item" style="background-image: url('../static/img/book11.jpg')"></div>

            <!-- END PANEL -->
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-md"></nav>
<div class="container features">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <h3 class="feature-title">Harry Potter Series</h3>
            <img src="../static/img/harrypotter.jpg" class="img-fluid">
            <p>Harry Potter is a series of fantasy novels written by British author J. K. Rowling. The novels chronicle
                the lives of a young wizard, Harry Potter, and his friends Hermione Granger and Ron Weasley, all of whom
                are students at Hogwarts School of Witchcraft and Wizardry. The main story arc concerns Harry's struggle
                against Lord Voldemort, a dark wizard who intends to become immortal, overthrow the wizard governing
                body known as the Ministry of Magic and subjugate all wizards and Muggles (non-magical people). </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <h3 class="feature-title">Percy Jackson Series</h3>
            <img src="../static/img/percyjackson.jpg" class="img-fluid">
            <p>In the mood for monsters and mythological heroes? Look no further than Rick Riordan's fun, fast-paced
                Percy Jackson series, which follows the adventures of young demigod (half mortal, half Greek god) Percy
                and his friends Annabeth and Grover. And the story continues in the thrilling Heroes of Olympus spin-off
                series. If you're looking for even more epic stories about gods, goddesses, and other mythological
                creatures, be sure to check out our list of the Best Mythology Books for Kids and Teens.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <h3 class="feature-title">Junie B Jones Collection</h3>
            <img src="../static/img/junie.jpg" class="img-fluid">
            <p>Barbara Park’s #1 New York Times bestselling chapter book series, Junie B. Jones, has been keeping kids
                laughing—and reading—for more than twenty-five years. Over 65 million copies sold!.Aimed at beginning
                readers, the series centers on Junie B. Jones, a young girl who is just entering kindergarten in the
                first book in the series, Junie B. Jones and the Stupid Smelly Bus (1992). In the opening sentences of
                that book, she declares, “My name is Junie B. Jones. The B stands for Beatrice. Except I don’t like
                Beatrice. I just like B and that’s all.”</p>
        </div>
    </div>
</div>

{% endblock content %}