{% extends "template.html" %}

{% block content %}


<div class="container features">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h3 class="feature-title">FOR IMMEDIATE RELEASE:Tuesday, September 24, 2019 Check out the vote 2019!</h3>
            <img src="../static/img/vote.jpg" class="img-fluid">
            <p>Saturday, September 28 is voter registration day at the Austin Public Library.From 10 AM until 2 PM,
                volunteers from Travis County Voter Registrar Outreach Program will be available at every Library
                location. These volunteers will assist interested citizens in registering to vote. So come check out
                some books and check out the vote!
                Voter registration is free and open to the public. For more information please call 512-974-7400.
                About the Library
                The Austin Public Library provides knowledge, technology and inspiration to the Austin community. The
                Library is a hub of books and education, a meeting place of minds and an incubator of ideas. </p>
        </div>
    </div>
</div>

{% endblock content %}